body {
  font-family: "Roboto", sans-serif;
}

.app-container {
  min-height: 92dvh;
}

.size-screen-main {
  max-height: 100vh;
  overflow: hidden;
}

.size-screen-nav {
  max-height: 8vh;
  overflow: hidden;
}

.size-footer {
  min-height: 8dvh;
}

.h-video-auto {
  height: 34vw;
}

.z-index-10 {
  z-index: 10;
}

.footer-icon-social-size {
  width: 1.5rem;
  height: auto;
}

.footer-icon-stream-size {
  width: 2rem;
  height: auto;
}

.logo-front {
  left: 5vw;
  top: 80vh;
  z-index: 10;
}

.icon-download-size {
  width: 3.5rem;
  height: auto;
}

.icon-nav-size {
  width: 1.5rem;
  height: auto;
}

.icon-pack-list-size {
  width: 1rem;
}

.features-icon-size {
  width: 3rem;
  height: auto;
}

.bg-auth {
  background-image: url("/bg-auth.jpg");
  background-repeat: no-repeat;
  /* Prevents the image from repeating */
  background-size: cover;
  /* Resizes the image to cover the container */
  background-position: center;
  /* Centers the image within the container */
}

.bg-main-nav {
  background-color: #212529;
}

.hero-nav {
  z-index: 30;
}

.free-download-cta {
  position: relative;
  z-index: 31;
}

.custom-w-card {
  max-width: 31%;
}

.w-fit-contain {
  width: fit-content;
}

.fix-pos-award {
  top: 1rem;
  right: 1rem;
  width: 4rem;
}

.fs-7 {
  font-size: 0.8rem;
}

.text-justify {
  text-align: justify;
}

@media (max-width: 767px) {
  .d-hiden-movile {
    display: none;
  }

  .bg-transparent-md {
    --bs-bg-opacity: 1;
    background-color: #212529 !important;
  }

  .custom-w-card {
    max-width: 100%;
  }
}

.w-10rem {
  width: 10rem;
}

.w-20rem {
  width: 20rem;
}

/*
 *  STYLE scrollbar
 */

.style-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.style-scrollbar::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

.style-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

/*
 * FORM LOGIN/REGISTER
 */
.bg-blur {
  width: 25rem;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}

.bg-blur input {
  background-color: rgba(255, 255, 255, 0.07);
  color: #fff;
}

.bg-blur input::placeholder {
  color: #fff;
}

.tiny-placeholder::placeholder {
  font-size: 0.8rem;
}

.custom-status-position {
  position: absolute;
  z-index: 10;
  top: 12%;
  left: 0;
  width: 99dvw;

  @media screen and (max-width: 767px) {
    top: 10%;
  }
}

.form-switch .form-check-input:checked {
  background-color: #22c55e;
  border-color: #22c55e;
}

.form-switch .form-check-input:focus {
  border-color: #22c55e;
}

.form-switch .form-check-input:disabled {
  opacity: 1;
}

.form-check-input[disabled] ~ .form-check-label,
.form-check-input:disabled ~ .form-check-label {
  opacity: 1;
}

.status-label {
  font-size: 0.8rem;

  @media screen and (min-width: 767px) {
    font-size: 1rem;
    font-weight: 500;
  }
}

.card-text {
  font-size: 0.8rem;

  @media screen and (min-width: 1536px) {
    font-size: 1rem;
  }
}

.card-title {
  font-size: 1.2rem;

  @media screen and (min-width: 1536px) {
    font-size: 1.5rem;
  }
}

.h-md-50 {
  @media screen and (min-width: 767px) {
    height: 50%;
  }
}

.top-6 {
  top: 6rem;
}
