.app-container {
    min-height: 88vh;
}

.size-screen-main {
    max-height: 100vh;
    overflow: hidden;
}

.size-screen-nav {
    max-height: 8vh;
    overflow: hidden;
}

.size-footer {
    min-height: 7vh;    
}

.h-video-auto {
    height: 34vw;
}
.z-index-10 {
    z-index: 10;
}
.footer-icon-size{
    width: 2rem;
    height: auto;
}
.features-icon-size{
    width: 4rem;
    height: auto;
}

@media (max-width: 767px) {
    .d-hiden-movile {
      display: none;
    }

    .bg-transparent-custom {
        --bs-bg-opacity: 1;
        background-color: #212529!important;
    }
}

/*
 *  STYLE scrollbar
 */

.style-scrollbar::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.style-scrollbar::-webkit-scrollbar
{
    width: 8px;
    background-color: #F5F5F5;
}

.style-scrollbar::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}