.app-container {
    min-height: 93vh;
}

.size-screen-main {
    max-height: 100vh;
    overflow: hidden;
}

.size-screen-nav {
    max-height: 8vh;
    overflow: hidden;
}

.size-footer {
    min-height: 7vh;    
}

.h-video-auto {
    height: 34vw;
}
.z-index-10 {
    z-index: 10;
}
.footer-icon-size{
    width: 2rem;
    height: auto;
}
.icon-nav-size {
    width: 1.5rem;
    height: auto;
}
.features-icon-size{
    width: 4rem;
    height: auto;
}
.bg-auth {
    background-image: url("/bg-auth.jpg");
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-size: cover; /* Resizes the image to cover the container */
    background-position: center; /* Centers the image within the container */
}
.bg-main-nav {
    background-color: #212529;
}
.custom-w-card {
    max-width: 33%;
}

@media (max-width: 767px) {
    .d-hiden-movile {
      display: none;
    }

    .bg-transparent-md {
        --bs-bg-opacity: 1;
        background-color: #212529!important;
    }

    .custom-w-card {
        max-width: 100%;
    }
}

/*
 *  STYLE scrollbar
 */

.style-scrollbar::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.style-scrollbar::-webkit-scrollbar
{
    width: 8px;
    background-color: #F5F5F5;
}

.style-scrollbar::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

/*
 * FORM LOGIN/REGISTER
 */
.bg-blur {
    width: 25rem;
    background-color: rgba(255,255,255,0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
}
.bg-blur input {
    background-color: rgba(255,255,255,0.07);
    color: #fff;
}
.bg-blur input::placeholder {
    color: #fff;
}

.tiny-placeholder::placeholder {
    font-size: 0.8rem;
}